name: main

on: push

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - uses: actions/cache@v5
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/uv.lock') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - run: make install-back
      - run: make lint
      - run: make test

